<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>
<body>


        <%- include('./dashpartials/nav.ejs') %>
    <div class="container my-4">

        <div class="display-6 my-4">Welcome to your notes <%= user %>! </div>
        <div class="row my-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                      <h5>Pinned notes</h5>
                    </div>
                  </div>
            </div>
<br />
            <div class="col-md-8">
                <div class="card container p-4">
                      <div class="card-title">
                      <h5>All notes</h5>
                        
                      </div>
                    <div class="card-body row text-white">
                      
                        <% if(notes.length > 0) { %>

                            <% notes.forEach(note => { %>
                                <div class="col-md-5 note p-2 m-2">
                                    <div class="">
                                       <p class="lead"><%= note.title %></p> 
                                        <p class="small">created: <%= note.createdAt %></p>
                                    </div>
                                </div>
                           <% }); %>
                        
                        <% } else { %>
                            <div>Notes is empty!</div>
                        <% } %>
                       

                    </div>
                  </div>
            </div>

        </div>

    </div>


<!-- <%- include('./dashpartials/footer.ejs') %> -->
</body>
</html>