<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>
<body>


        <%- include('./dashpartials/nav.ejs') %>
    <div class="container my-4">

        <div class="display-6 my-4">Welcome to your notes <%= user %>! </div>
        <hr />
        <div class="row my-4">
            <div class="col-md-8 mb-4">
                <div class="card container p-4">
                      <div class="card-title row">
                      <h5 class="fw-normal col-3">All notes</h5>
                        <form  method="POST" action="/notes/search" class="col-7 d-flex"> 
                            <input type="text" class="form-control" placeholder="Search" name="query"> &nbsp;
                            <button class="btn btn-success">search</button>
                         </form>
                    <div class="col-2"><button class="btn btn-outline-dark">New</button></div>  
                    </div>
                    <div class="card-body row text-white">
                      
                        <% if(notes.length > 0) { %>

                            <% notes.forEach(note => { %>
                                
                                <div class="col-md-5 note p-2 m-2" id="note">
                                    <a href="/notes/<%= note.id %>" class="note-link text-white">
                                    <div class="">
                                       <p class="lead"><%= note.title %></p> 
                                        <p class="small">created: <%= note.createdAt %></p>
                                    </div>
                                </a> 
                                <a>
                        
</a>
                                </div>
                           
                           <% }); %>
                        
                        <% } else { %>
                            <div class="text-center text-dark fw-normal">
                               <p class="lead">Notes is empty!</p> 
                    <a class="btn" href="/new" style="background-color: none; border-color: #5a23c8; color: #5a23c8;">Start new note!</a>  &nbsp;

                            
                            </div>
                            
                        <% } %>
                       
                    </div>
                  </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                      <h5 class="fw-normal">Pinned notes</h5>
                     <% const filpin = notes.filter((pinned_note) => { %>
                       <% return pinned_note.pin == true %>
                
                      <% }) %>
                      <% if (filpin.length > 0) { %>
                        <% filpin.map((pinned_note) => { %>

                        <div class="col-row note p-2 m-2">
                        <a href="/notes/<%= pinned_note.id %>" class="note-link text-white">
                        <div class="">
                           <p class="lead"><%= pinned_note.title %></p> 
                            <p class="small">created: <%= pinned_note.createdAt %></p>
                        </div>
                    </a> 
                    </div>
                    <% }); %>
                    <% }else { %>
                        <div class="fw-normal text-center">Notes you pinned will appear here, You have none yet!</div>
                    <% } %>
               
                    </div>
                  </div>
            </div>
<br />
        
        </div>

    </div>


<!-- <%- include('./dashpartials/footer.ejs') %> -->
<script src="../../node_modules/bootstrap/js/"></script>
</body>
</html>