<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>
<body>


    <%- include('./dashpartials/nav.ejs') %>

   
        <div class="container mt-4">
          <div class="row">
            <div class="col-md-8 ">
              <div class="display-6 mb-2 fw-normal"><%= notes.title %></div>
              <div class="lead">created: <%= notes.createdAt %></div>
              <div class="my-2" style="display: flex;">
                <a href="" class="btn btn-outline-danger">Delete</a> &nbsp; 
                <a class="btn" style="background-color: none; border-color: #5a23c8;">Pin</a>  &nbsp;
                <a class="btn btn-warning">Edit</a> 
              </div>
              <hr>
              <div class="note-body">
                <p class="lead"> <%= notes.body %> </p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="fw-normal mx-3 mb-3">Recent Notes</h4>
                  <div class="row text-white note p-2 m-2">
                    
                    <div class="">
                       <p class="lead">Code Plateau class</p> 
                        <p class="small">created: <%= notes.createdAt %></p>
                       
                    </div>
             
                </div>
                </div>
              </div>
            </div>
          </div>
            
        </div>


<%- include('./dashpartials/footer.ejs') %>
</body>
</html>