<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>
<body>


    <%- include('./dashpartials/nav.ejs') %>

   
        <div class="container mt-4">
          <div class="row">
            <div class="col-md-8 ">
              <div class="display-6 mb-2 fw-normal"><%= notes.title %></div>
              <div class="lead">created: <%= notes.createdAt %></div>
              <div class="my-2" style="display: flex;">
                <a data-doc="<%= notes.id %>" class="delete btn btn-danger"> <i style="color: white;" class="fa fa-times"></i>
              </a> &nbsp; 
              <% if(!notes.pin) { %>

                <a data-pin="<%= notes.id %>" class="pin btn text-white" style="background-color: #5a23c8;">pin</a>  &nbsp;
                <% }else{ %>
                    <a data-unpin="<%= notes.id %>" class="unpin btn text-white" style="background-color: #5a23c8; ">Unpin</a>  &nbsp;
               <% } %>
               <a href="/notes/edit/<%= notes.id %>" class="btn btn-sm btn-secondary">  <i style="color: white;" class="fa fa-edit"></i> </a>
                
              </div>
              <hr>
              <div class="note-body">
                <p class="lead"> <%= notes.body %> </p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="fw-normal mx-3 mb-3">Recent Notes</h4>
                  <div class="row text-white note p-2 m-2">
                    
                    <div class="">
                       <p class="lead">Code Plateau class</p> 
                        <p class="small">created: <%= notes.createdAt %></p>
                    </div>
             
                </div>
                </div>
              </div>
            </div>
          </div>
            
        </div>


<%- include('./dashpartials/footer.ejs') %>


<script>
  const handleajaxreq = (endpoint, method) => {
    fetch(endpoint, {
      method: method,
      
    })
    .then(response => response.json())
    .then(data => {
      // window.location.href = data.redirect
      console.log(data)
     })
    .catch(err => console.log(err))
  } 

  // Delete
  const delBtn = document.querySelector('a.delete');
  const id = delBtn.dataset.doc
  delBtn.addEventListener('click', (e) => {
    const endpoint = `/notes/${id}`;
    handleajaxreq(endpoint, 'DELETE')
  })


  // Pin Note
  const pinBtn = document.querySelector('a.pin');
  const pinId = pinBtn.dataset.pin
  pinBtn.addEventListener('click', (e) => {
    const endpoint = `/notes/pin/${pinId}`;
    handleajaxreq(endpoint, 'PATCH')
  })

  // unpin
  const unpinBtn = document.querySelector('a.unpin');
  const unpinId = unpinBtn.dataset.unpin
  unpinBtn.addEventListener('click', (e) => {
    const endpoint = `/notes/unpin/${unpinId}`;
    handleajaxreq(endpoint, 'PATCH')
  })


</script>
</body>
</html>